body {
	background-color: black;
	color: gray;
	font-size: large;
	margin: 0;
	font-family: sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgb(30, 30, 30);
}

button {
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	font-size: large;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	border-radius: 5rem;
	background-color: rgb(138, 43, 226);
	color: whitesmoke;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	margin-bottom: 25%;

	&:hover {
		background-color: rgb(118, 33, 216);
		cursor: pointer;
	}

	&:active {
		background-color: rgb(118, 33, 216);
	}
}

p {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	margin-bottom: 25%;
}

.app-wrapper {
	min-height: 100vh;
	display: flex;
}

.playlist-wrapper {
	flex: 1;
	height: calc(100vh - 2em);
	padding: 1em 0;
	overflow-y: auto;
}

.playlist-item-wrapper {
	display: flex;
	align-items: center;
	scroll-behavior: smooth;
	height: 60px;

	&:hover {
		background-color: rgb(30, 30, 30);
		color: rgb(178, 115, 175);
		cursor: pointer;
	}

	&:active {
		background-color: rgb(45, 45, 45);
	}

	&.selected {
		background-color: rgb(15, 15, 15);
		color: rgb(158, 95, 155);
	}
}

.tracklist-wrapper {
	flex: 2;
	height: calc(100vh - 2em);
	padding: 1em 0 1em 1em;
	overflow-y: auto;
}

.track-item-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	scroll-behavior: smooth;
	height: 60px;
	flex-wrap: nowrap;
	overflow: hidden;

	&:hover {
		background-color: rgb(30, 30, 30);
	}

	&:active {
		background-color: rgb(45, 45, 45);
	}

	&.selected {
		background-color: rgb(15, 15, 15);
	}
}
