body {
	background-color: black;
	color: whitesmoke;
	font-size: large;
	margin: 0;
	font-family: sans-serif;
}

#app {
	min-height: 100vh;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: whitesmoke;
}

button {
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	font-size: large;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	border-radius: 5rem;
	background-color: rgb(138, 43, 226);
	color: whitesmoke;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	margin-bottom: 25%;

	&:hover {
		background-color: rgb(118, 33, 216);
		cursor: pointer;
	}

	&:active {
		background-color: rgb(118, 33, 216);
	}
}

p {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	margin-bottom: 25%;
}

.playlists-wrapper {
	height: calc(100vh - 2em);
	bottom: 0;
	left: 0;
	padding: 1em 0;
}

.playlist-item-wrapper {
	display: flex;
	align-items: center;

	&:hover {
		background-color: rgb(30, 30, 30);
		cursor: pointer;
	}

	&:active {
		background-color: rgb(45, 45, 45);
	}
}
